In [6]:
import seaborn as sns
df=sns.load_dataset("titanic")
nan_deck=df['deck'].value_counts(dropna=False)
print(nan_deck)

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [8]:
print(df.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [12]:
df_thresh=df.dropna(axis=1,thresh=600)
print(df_thresh.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

In [13]:
df_age=df.dropna(subset=['age'],how='any',axis=0)
print(len(df_age))

714

In [18]:
most_freq=df["embark_town"].value_counts(dropna=True).idxmax()
print(most_freq)
print('\n')

Southampton

In [19]:
df['embark_town'].fillna(most_freq, inplace=True)